# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
tags

# dependencies
/node_modules
server/node_modules
client/node_modules
/bower_components

# misc
/.idea
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
testem.log
.vscode/
.vscodeignore
jsconfig.json
typings/

#os generated
.DS_Store
Thumbs.db

server/uploads
server/test-files
*.csv

variables.env
variables.env.heroku

.next